/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.rowNumber {
    text-align: right !important;
  }
.rowBold {
  font-weight: 500;
  font-size: 14px;
}
.mat-tab-body-wrapper {
  height: 100%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  background-color: #eee;
  border: 0px solid;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #eee;
  border: 0px solid;
}

::-webkit-scrollbar-thumb {
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #aaa;
  opacity: 0.1;
}

mat-dialog-container {
  background: transparent !important;
  box-shadow: none !important;
  overflow: hidden !important;
}

.divdialog {
  display: block;
  min-width: 600px;
  border: solid 1px #CCC;
  border-bottom: none;
  background: white;
  position: relative;

}

.divdialog:after {
  content: "";
  background: -moz-linear-gradient(left, #0db9f0 0%, #ff4141 37%, #ffd60c 74%, #92c50f 100%);
  background: -webkit-linear-gradient(left, #0db9f0 0%, #ff4141 37%, #ffd60c 74%, #92c50f 100%);
  background: linear-gradient(to right, #0db9f0 0%, #ff4141 37%, #ffd60c 74%, #92c50f 100%);
  display: block;
  height: 5px;
  width: 100%;
  position: absolute;
  bottom: 0;

}

.dialogheader {
  background: #3c8dbc;
  margin: -1px;
  height: 56px;
  font-size: 25px !important;
  justify-content: center;
  color: white;
  font-weight: 400 !important;
  text-align: center;
  padding-top: 10px;
}

.dialogheadertext {
  background: #3c8dbc;
  font-size: 25px !important;
  color: white;
  font-weight: 400 !important;
}

.closebtn {
  width: 30px;
  height: 30px;
  background: #e34f55;
  opacity: 1;
  color: #ffffff;
  text-shadow: none;
  border-radius: 100%;
  padding: 0;
  transition: all 0.3s;
  z-index: 99;
  position: relative;
  transform: scale(1);
  margin: -1.2rem -1rem -1rem auto;
  border: 0;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  cursor: pointer;

  &:hover {
    animation-name: round;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate, .mat-accent .mat-pseudo-checkbox-checked, .mat-accent .mat-pseudo-checkbox-indeterminate {
    background: #3c8dbc !important;
  }

  .mat-checkbox .mat-checkbox-frame {
    border-color: white;
  }



}
