.example-container {
  height: calc(100vh - 74px);
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding-left: 20px;
  padding-right: 20px;
}
