<div class="divdialog"
     style="display:block; min-width: 600px; min-height: 500px; border:0; border-radius: 7px">
  <div style="margin-top: -1px; height: 50px;width: 100%; background-color: #5663FF">

  </div>
  <div
    style="color: white; margin: 10px; font-size: 17px; white-space:nowrap; text-overflow: ellipsis; font-weight: 400; margin-right: 30px; position: absolute; top: 5px ">{{ title }}</div>
  <mat-icon style="color: white; float: right;margin: 8px; right: 5px;  cursor: pointer; position: absolute; top: 5px"
            mat-dialog-close>close
  </mat-icon>


  <mat-progress-bar *ngIf="loader" mode="indeterminate" color="#5663FF" style="background-color: #3c8dbc">
  </mat-progress-bar>
  <div class="example-container" style="margin: 5px">
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>City name</mat-label>
      <input matInput type="text"  [(ngModel)]="selectedCity.name" required>

    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Country</mat-label>
      <mat-select [(value)]="'' +selectedCity.idCountry">
        <mat-option   value="1">HongKong</mat-option>
      </mat-select>

    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Latitude</mat-label>
      <input matInput type="number" [(ngModel)]="selectedCity.lat" required>

    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Longitude</mat-label>
      <input matInput  type="number" [(ngModel)]="selectedCity.lng" required>

    </mat-form-field>
    <mat-form-field appearance="fill" style="margin: 5px">
      <mat-label>Raduis</mat-label>
      <input matInput  type="number" [(ngModel)]="selectedCity.radius" required>

    </mat-form-field>
  </div>
  <div class="example-container" style="margin: 5px">
  <ag-grid-angular
    #agGrid
    style="width: 100%; height: 300px;"
    id="myGrid"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [defaultColDef]="defaultColDef"
    [suppressRowClickSelection]="true"
    [suppressMenuHide]="true"
    [groupSelectsChildren]="true"
    [rowSelection]="rowSelection"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [pivotPanelShow]="pivotPanelShow"
    [enableRangeSelection]="true"
    [paginationAutoPageSize]="false"
    [rowData]="rowData"
    [rowHeight]="60"
    [frameworkComponents]="frameworkComponents"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
  </div>
  <button class="btn-style" style="background-color: #999; margin-left: 10px; margin-right: 170px;font-size: 12px; float: right"
          (click)="preview()" mat-button>Cancel</button>
  <button  class="btn-style" #btn style="background-color: #5663FF; margin-left: 10px; margin-right: 40px;font-size: 12px; float: right;color: white"
          (click)="save()" [ngStyle]="{'opacity': checkData() && singleton.checkRole(2) && singleton.checkRole(8) ? '1' : '0.5'}"
          [disabled]="!checkData() || !singleton.checkRole(2) || !singleton.checkRole(8)"
          mat-button>Save</button>
</div>
